.card-body  {
  border-radius: 3%;
  overflow: hidden;
  border-style: none;
  border: none;
}
.card:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bloc1{
  margin-top: 10%;
}
  .etoile{
    margin-top: 1%;
  }
  
